*{
    box-sizing: border-box;
}/*узнать в инете что это*/

a{
    color: #fff;/*задаем белый цвет кнопке лучшие выступления*/
    text-decoration:none;/*отклчаем полоску на кнопке которая появилась по умолчанию из за того что та 
    является ссылкой*/
}

body{
    background-color: #0b0b0b;/*цвет фону*/
    color: #fff;/*цвета текста*/
    font-size: 24px;/*размеры текста по умолчанию*/
    line-height: 28px;/*размеры текста по умолчанию*/
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;/*толщина шрифта*/
}

.header{ /*это наш фон хедера*/
    height: 100vh; /*100 для того чтобы картинка была на весь экран*/
    /*так как наш слайдер находится внизу не в шапке я прописал две нижние строчки*/
    position: absolute;/*то етсь мы его ставим на позиционирование, типо он такой: Ребята
    я теперь как бы в 3д, оделал очечи, знаете кинотеатр, и все я себе в другом пространстве
    и все он поднимется как бы с монитора вверх на нас, и он вверх себя пропускает слайдер, 
    след строка тоже*/
    z-index: 5;
    background: rgba(0, 0, 0, 0.3);/*делаем затемнение нашей шапки сайта*/
    /*на 30 и 31 строке мы написали чтобы рапсстояние от левого и правого края ноль, и нашу шапку разнесло */
    left: 0;/**/
    right: 0;/**/
}

.container{ /*это скажем так, такой  парень который помогает держать весь контент в руках*/
    padding: 0 15px; /*0 это значитсверху и снизу, а 15 это слева и права*/
    max-width: 1230px;/*ширина наша, max, чтобы если экран у другого пк окажется мелким, ничего не портилось*/
    margin: 0 auto;/*0 это значит сверху и снизу, а слева и права автоматический*/
}

.header-top{/*с помощью этих строк делаем так чтобы наше лого и бургер меню 
    разлетелись в разные стороны*/
    display: flex;
    justify-content: space-between;
}

.logo{
    padding-top: 36px;/*отступ логотипа сверху*/
    margin-bottom: 29px;/*отступ логотипа снизу*/
}

.header-btn{ /*создаем нашу кнопочку, меню бургер*/
    width: 60px; /*ширина менюшки*/
    height: 60px; /*высота менюшки*/
    border: 1px solid #fff; /*создаем квадратик в котором будут три полоски, размер квадрата 1 px*/
    margin-top: 31px; /*отступ сверху*/
    background: rgba(255, 255, 255, 0.1);/*задаем фон для квадрата меню и непрозрачность 10%*/
    cursor: pointer; /*делает так чтобы при наведении на меню курсор становился указывающей рукой*/
    display: flex; /*делаем так чтобы линии встали друг за другом*/
    flex-direction: column; /*делаем так чтобы линии стали друг под другом*/
    align-items: center; /*ставим их в центр, но они сверху*/
    justify-content: center; /*ставим по центру квадрата, но они слитны*/
}

.header-btn div{/*обращаюсь к каждому div который находится внутри header-btn*/
    width: 36px;
    height: 2px;
    background-color: #fff;
    margin: 5px 0; /*строка для того чтобы линии в меню имели отступы*/
}

.header-content__title{
    font-family: 'Roboto', sans-serif; /*шрифт названия файтерс*/
    font-size: 96px; /*размер текста*/
    line-height: 112px; /*высота строки*/
    margin-bottom: 40px; /*отступ от файтерса до текста*/
}

.header-content__text{ /*делаем так чтобы текст о том что такое юфс был не в одну строку*/
    width: 284px;
    margin-bottom: 25px;
}

.button{ /*это ссылка, не блочный тег, а строчный тег, и к ним не все свойства 
    применяются, и для того чтобы блочные свойства для него проявлялись напишем след строку (75)*/
    display: inline-block;
    border: 1px solid #fff; /*созданем прямоугольник вокруг кнопки лучшие высутпления*/
    padding: 30px 62px; /*делает так чтобы прямоугольник вокруг кнопки стал больше*/
    background: rgba(255, 255, 255, 0.15); /*делает так чтобы вокруг прямоугольника появился 
    некий блюр*/
    transition: all .5s; /*делает так чтобы когда наводишь в течении пол секунды сменялся цвет
    , а не в мгновение, так будет красивее, сделал не .header-content__btn:hover потому что там 
    только при наведении, соответственно когда курсор отойдет будет тупить скажем так уход цвета,
    поэтому ставлю эту строку .header-content__btn*/
}

.button:hover{/*делает так что при наведении на кнопку цвет меняется на красный, 
    как раз для этого нужен hover*/
    background-color: #770302;
}

.menu{
    background-color: #000;/*задали цвет окну после появления менюшки*/
    position: absolute;
    top: 0;
    left: -100%;/*для того чтобы изначально при загрузке сайта менюки не было*/
    width: 100%;/*растягиваем на всю длину экран сверху*/
    transition: all .7s;
    z-index: 7;
}

.menu.active{/*такая запись показывает такое: если есть то итд*/
    left: 0; /*делаем так чтобы при нажатии то есть при active, срабатывало включение меню*/
}

.container-menu{
    position: relative;/*для того чтобы наш крестик сверху тоже оказался внутри контейнера, и не был в углу*/
}

.close-btn{/*создание кнопки крестика в менюшке*/
    width: 50px;/*задаем размеры кнопки крестика*/
    height: 50px;/*задаем размеры кнопки крестика*/
    position: absolute;/**/
    top: 31px;/*делаем отступ сверху*/
    right: 15px;/*для того чтобы наш крестик был на том же месте что и наша фигурка меню начальная*/
    cursor: pointer;/*делает так чтобы при наведении на кнопку курсор становился указателем*/
}

.close-btn::after,/*делаем крестики в кнопке выключить в менюшке*/
.close-btn::before{/*написал их вместе потому то что внизу используется и на одно и на второе*/
    content: "";/*это я написал потому что без него ничего не заработает*/
    width: 70px;/*задем размеры для линии крестика*/
    height: 2px;/*задем размеры для линии крестика*/
    background-color: #fff;
    position: absolute;
    transform-origin: left;
}

.close-btn::after{
    transform: rotate(45deg);
}

.close-btn::before{
    transform: rotate(-45deg);
    bottom: -1px;
}

.menu__list{
    height: 100vh;/*растягиваем на весь экран менюшку*/
    display: flex;
    align-items: center; /*поставил по центру текст открывающейся менюшки*/
}

.menu__list ul{
    list-style: none; /*отклчаем точки в списке меню*/
}

.menu__list a{
    font-size: 48px;/*задаем размеры букв в меню*/
    line-height: 56px;/*задаем размеры букв в меню*/
    font-weight: bold;/*ставим жирный шрифт в словах в меню*/
    padding: 30px 25px 14px 0;/*отсупы сверху и снизу для слов слева и справа*/
    border-bottom: 3px solid #b70021;/*создаем линии под словами в менюшке*/
    display: inline-block;/*для того чтобы линии стали нормальными*/
    min-width: 368px;/*задаем ширину для линий под словами в меню*/
    transition: all .5s;/*для того чтобы белый цвет при наведении менялся плавно*/
}

.menu__list a:hover{
    border-color: #fff;/*для того чтобы при наведении на слова в меню цвет линии менялся на белый*/
    color: #b70021;/*для того чтобы при наведении на слова в меню цвет слов менялся на красный*/
    transform: scale(1.2); /*для того чтобы при наведении на слова в меню слова увеличивались, они по умолчанию были 100%
    а поставив 1.2 стали 120, но только при наведении*/
    margin-left: 37px;/*для того чтобы при наведении на слова в меню слова немного смещались вправо*/
}

.slider__item{
    height: 100vh; /*высота картинки слайдера на весь экран*/
    background-repeat: no-repeat;/*для того чтобы картинки не повторялись*/
    background-size: cover; /*для того чтобы картинки растнулись*/
    background-position: center; /*это нужно было для адаптива*/
}

.slider .slick-dots button{
    width: 15px;/*задаем ширину нашим dots*/
    height: 15px;/*задаем высоту нашим dots*/
    border-radius: 50%; /*делаем наш dots круглыми*/
    background-color: #0b0b0b;/*задаем color*/
    border: none;/*написали none потому что они по умолчанию написались, а нам это не надо*/
    padding: 0;/*написали 0, потому что по умолчанию, они сами написались, а нам никакие pading не нужны*/
    font-size: 0;/*так как мы в js создавали dots, они автоматически имеют в себе цифры, и чтобы эти цифры убрать нужна эта строка*/
    cursor: pointer;/*делает так чтобы при наведении курсор становился как указывающая рука */
    outline: none;/*убирает синии линии вокруг точек слайдера*/
}

/*делает так чтобы мелкие круглые переключатели слайдеры, тот который активный является белым*/
.slider .slick-dots .slick-active button{/**/
    background-color: #fff;/*задаем белый цвет, сверху .slick-active это как раз обращение к тому который активен слайд*/
}

.slider .slick-dots li{/**/
    display: inline-block;/*это строка нужна для того чтобы dots шли рядошком, то есть стояли друг за другом, 
    потому что по умолчанию они стоят столбиком*/
    margin: 0 5px;/*это строчка нужна для того чтобы между круглыми точками было расстояние*/
}

.slider .slick-dots{/*тут все для того чтобы правильно расположить точки слайдера, так как до этого они были как бы чуть ниже 
    шапки*/
    margin: -55px auto 0;/*тут мы подняли точки на слайдер, но они не видны так как под слайдом находятся*/
    /*так как точки находятся под слайдом, мы задаем position и z-index, строки 135, 136*/
    position: relative;
    z-index: 6;
    max-width: 150px;/*центрируем наши точки по центру слайдера*/
}

.video{
    margin-bottom: 100px;
    margin-top: 100px;
}

.video__2{
    margin-bottom: 100px;
    margin-top: 100px;
}

.video__3{
    margin-bottom: 100px;
    margin-top: 100px;
}

.video__4{
    margin-bottom: 100px;
    margin-top: 100px;
}

.video__5{
    margin-bottom: 100px;
    margin-top: 100px;
}

.video__6{
    margin-bottom: 100px;
    margin-top: 100px;
}

.video__7{
    margin-bottom: 100px;
    margin-top: 100px;
}

.footer{
    background-color: #690102;/*задаем цвет фону футера*/
    padding: 83px 0 20px;/*задаем отсупы сверху 83, по бокам по нулям, и снизу 20*/
}

.footer-btn{/*кнопка лучшие песни в футере*/
    text-align: center;/*ставим кнопку в центр*/
    margin-bottom: 83px;/*задем отсуп снизу для кнопки*/
}

.footer-btn .button:hover{
    background-color: #0b0b0b;/*делаем так чтобы при наведении на кнопку цвет изменялся на черный*/
}

.footer-copy{/*footer-copy эта такая вещь которая хранит ссылочки*/
    text-align: center;/*ставлю в центр слова в футере*/
    font-weight: 700;/*ставим шрифт более жирный*/
}

.footer-copy ul{
    list-style: none;/*убираем списковые точки у ul, которые создаются по умолчание*/
}

.footer-copy li{
    display: inline-block;/*чтобы надписи в футере были в одну линию*/
    padding: 0 10px;/*для отступов между словами*/
    position: relative;
}

.footer-copy li + li::before{/*li+li нужно чтобы значок | вставился перед каждой li кроме первой*/
    content: "|";/*задаем значок*/
    position: absolute;
    left: -5px;/*для того чтобы знаки | были не слишком близки к словам и имелинекий отступ*/
}